body{
background-color:#F1F1F1;
background-image:url("/img/mtnbkrnd.jpg");

}
h1,li,p,button{
font-family:helvetica,arial,san-serif;
font-weight:200;
text-align:center;
display:block;
}
h1{
letter-spacing:.4em;
margin-top:23%; 
}
ul{
list-style-type:none;
margin-left:-1.3em;
}
a{
color:#3F3F3F;
text-decoration:none;
target:_blank;
}
a:hover{
color:#e74c3c;
}
button{
font-size:1.4em;
display:inline;
border:none;
} 
#mobile{
display:none; 
}

@media (max-device-width: 1200px) {
 body{
 background-color:white;
 background-image:none; 
 } 
 h1{
 color:#e74c3c;
 font-size:7em; 
 letter-spacing:.1em;
 margin-top:.2em; 
 }
 #desktop{
 display:none; 
 }
 #mobile{
 display:block;
 font-size:4.5em; 
 }
}
/*STRAVA logo*/
<style>
  .strava-badge- { display: inline-block; height: 48px; }
  .strava-badge- img { visibility: hidden; height: 48px; }
  .strava-badge-:hover { background-position: 0 -63px; }
  .strava-badge-follow { height: 48px; width: 48px; background: url(//badges.strava.com/echelon-sprite-48.png) no-repeat 0 0; }
</style>


