/*!
main
*/
body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto; }

body {
  font-family: Helvetica, Arial, sans-serif; }

html, body {
  background: #fff; }

html, body {
  color: #1a1a1a; }

a, a:link, a:visited {
  text-decoration: none;
  color: #3498db; }

a:active, a:hover, a:focus {
  text-decoration: none;
  color: #2980b9; }

::selection {
  color: #fff;
  background: #1a1a1a; }

::-moz-selection {
  color: #1a1a1a;
  background: #fff; }

div {
  font-size: 3em;
  background: #666;
  color: #f9f9f9; }
