/*!
main
*/
body {
  min-width: 1000px;
  margin: 0 auto; }

body {
  font-family: Helvetica, Arial, sans-serif; }

html, body {
  background: #fff; }

html, body {
  color: #1a1a1a; }

a, a:link, a:visited {
  text-decoration: none;
  color: #3498db; }

a:active, a:hover, a:focus {
  text-decoration: none;
  color: #2980b9; }

::selection {
  color: #fff;
  background: #1a1a1a; }

::-moz-selection {
  color: #1a1a1a;
  background: #fff; }

.content {
  background: #1A2428; }
  .content h1 {
    display: block;
    font-size: 3em;
    margin: 1em;
    padding: 1em 1em;
    text-align: center;
    color: #35393F;
    background-color: #7E919B;
    float: top; }
  .content h2 {
    display: block;
    font-size: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 10.3em;
    text-align: center;
    color: #1A2428;
    background: #7E919B;
    padding: 1em 1em;
    width: 7em;
    height: 50em;
    float: left; }
  .content h3 {
    font-size: 2em;
    padding: 1em 1em;
    text-align: center;
    color: #1A2428;
    background-color: #7E919B;
    display: block;
    margin: 1.5em; }
  .content ul {
    font-size: 1em;
    margin: 1;
    padding: 1em 1em;
    text-align: left;
    color: #E6E6E6;
    height: 2em;
    display: inline-block;
    list-style-type: none; }
  .content #port, .content img {
    display: block;
    padding: 5px;
    margin-left: 7.9em; }
