/*!
main
*/
body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto; }

body {
  font-family: Helvetica, Arial, sans-serif; }

html, body {
  background: #fff; }

html, body {
  color: #1a1a1a; }

a, a:link, a:visited {
  text-decoration: none;
  color: #3498db; }

a:active, a:hover, a:focus {
  text-decoration: none;
  color: #2980b9; }

::selection {
  color: #fff;
  background: #1a1a1a; }

::-moz-selection {
  color: #1a1a1a;
  background: #fff; }

html, body {
  background: #1a1a1a; }

.content {
  background: #1a1a1a; }
  .content p {
    font-size: 4em;
    margin: 0;
    padding: 8em 2em;
    border-bottom: 1px #444 solid;
    text-align: center; }
  .content p:nth-child(even) {
    color: #1a1a1a;
    background: #ddd; }
  .content p:nth-child(odd) {
    color: #ddd;
    background: #34495e; }
