/*!
main
*/

//	global

	//	color
	$cBase			: #fff;
	$cCopy			: #1a1a1a;
	$cLink			: #3498db;
	$cHover			: #2980b9;
	$cBackground	: #34495e;
	$cDark			: #1a1a1a;
	$cLight			: #ddd;

	//	font
	$fBase		: Helvetica, Arial, sans-serif;

//	structure

	//	default
	body {
		width: 100%;
		min-width: 320px;
		margin: 0 auto;
	}

//	font

	//	default
	body {
		font-family: $fBase;
	}

//	color

	//	background
	html,body {
		background: $cBase;
	}

	//	copy
	html,body {
		color: $cCopy;
	}

//	links

	//	default
	a, a:link, a:visited {
		text-decoration: none;
		color: $cLink;
	}
	a:active, a:hover, a:focus {
		text-decoration: none;
		color: $cHover;
	}

	//	color : user
	::selection {
		color: $cBase;
		background: $cCopy;
	}
	::-moz-selection {
		color: $cCopy;
		background: $cBase;
	}

//	andy, you can build on stuff below this line

div {
	font-size: 3em;
	background: #666;
	color: #f9f9f9;
}
