/*!
main
*/

//	global

	//	color
	$cBase			: #fff;
	$cCopy			: #1a1a1a;
	$cLink			: #3498db;
	$cHover			: #2980b9;
	$cBackground	: #34495e;
	$cDark			: #1A2428;
	$cLight			: #ddd;

	//	font
	$fBase		: Helvetica, Arial, sans-serif;
	$fAlt		: Times, serif;

//	structure

	//	default
	body {
		width: 1000px;
		min-width: 320px;
		margin: 0 auto;
	}

//	font

	//	default
	body {
		font-family: $fBase;
	}

//	color

	//	background
	html,body {
		background: $cBase;
	}

	//	copy
	html,body {
		color: $cCopy;
	}

//	links

	//	default
	a, a:link, a:visited {
		text-decoration: none;
		color: $cLink;
	}
	a:active, a:hover, a:focus {
		text-decoration: none;
		color: $cHover;
	}

	//	color : user
	::selection {
		color: $cBase;
		background: $cCopy;
	}
	::-moz-selection {
		color: $cCopy;
		background: $cBase;
	}

//	ANDY'S WORKSHOP

$layoutPadding : 1em * 2;

html,body {
	background: $cDark;
}

.content {
	background: $cDark;
	h1 {
		font-size: 4em;
		margin: 0;
		padding: ($layoutPadding * 4) ($layoutPadding * 1);
		text-align: center;
		color:#35393F;
		background-color: #7E919B;

	}
		h2 {
		font-size: 2em;
		margin: 0em;
		margin-top: 1em;
		text-align: center;
		color:#7E919B;
		background: #262C34;
		padding: ($layoutPadding * 4) ($layoutPadding * 3);
	}
	p {
		font-size: 2em;
		margin: 0;
		padding: ($layoutPadding * 1) ($layoutPadding * 0);
		text-align: center;
		color:#35393F;
		background-color: #7E919B;
	}
}


