html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
body {
background-image: url("/img/NM.jpg");
background-repeat:no-repeat;
background-position:center;
background-size: cover;
font-family:helvetica;
font-weight:300;
color:white;
}
.THECONTAINER {
justify-content:center;
flex-direction:column;
align-items:center;
height:100vh;
display:flex;
padding-right:50%;
}
h1{
font-size:2.5em;	
}
a{
font-size:1.2em;	
text-decoration:none;
text-align:center;
display:block;
color:white;
}
a:hover{
color:#f3bf72;
}
@media only screen and (max-width: 800px) {
  .THECONTAINER {
    padding-right:0;
  }
}