/* GENERAL */
img{
	width: 100%;
	margin-top:10px;
}
#wrapper{
	max-width: 60%;
	margin: auto;
	text-align: center;
}
#tile1{
	float: left; 
	width: 48%;
}
#tile2{
	 float: right; 
	 width: 48%;
}
#header,#footer {
	background-color: #B90012;
	width:100%;
	height: 200px;
}
/* MOBILE - 1000px and under */
@media screen and (max-width: 1000px) {
	img{
		width: 100%;
		margin-top:10px;
	}
	#wrapper{
		max-width: 80%;
		margin: auto;
		text-align: center;
	}
	#tile1{
		float: left; 
		width: 48%;
	}
	#tile2{
		 float: right; 
		 width: 48%;
	}
	#header,#footer {
		background-color: #B90012;
		width:100%;
		height: 200px;
	}
}
/* MOBILE - 480px and under DOES NOT INCLUDE IPHONE 6 */
@media screen and  (max-width : 640px) {
	img{
		width: 100%;
		margin-top:10px;
	}
	#wrapper{
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	#tile1{	
		width: 100%;
	}
	#tile2{	
		 width: 100%;
	}
	#header,#footer {
	background-color: #B90012;
	height: 200px;
}
}
/*
	▄█████████████████████████▄▐█▄▄▄▄█▌
	██████████████████████████▌▀▀██▀▀
	████▄█████████████████████▄▄█▌
OI–<	▄▄▄▄▄████████████████████████▀ Moby Dick Web Company ©